extends ../base.pug
include ../mixins/playlist.pug

block content
    audio(src="/"+music.fileUrl)#audio_page
    div.main-player(data-Id=music._id, data-user=loggedInUser.name)
        section.main
            img(src=`data:image/jpeg;base64,${base64}`)#bgImg
            div#volume
                p#volume_show 30
                i(onclick="mute_sound()")#volume_icon.fa.fa-volume-up
                input(type="range", min="0", max="100", value="30")#volume_bar
            article.main-left
                div.title_artist_box
                    p#name #{musicData.title}
                    p#artist #{musicData.artist}
                div.like_box
                    if check
                        i.fas.fa-heart.like_icon(data-Id="flase") &nbsp;#{music.like}
                    else
                        i.far.fa-heart.like_icon(data-Id="true") &nbsp;#{music.like}
                div.playbtn-section-wrap
                    div.playbtn-section
                        if base64
                            img(src=`data:image/jpeg;base64,${base64}`).playpage_track_imag
                        else
                            i.fas.fa-compact-disc.cdimg                
                        button#play
                            i.fa.fa-play
                div#duration
                    input(type="range", min="0", max="100", value="0")#duration_slider
                    span.duration_text 00:00
            article.main-right
                
                p.lyrics_main !{musicData.unsynchronisedLyrics ? musicData.unsynchronisedLyrics.text : "Not found lyrics"}
            

    if loggedInUser._id==music.owner._id
        section.deleteSec
            a(href=`${music.id}/remove`).deleteBtn Delete Music
    if loggedIn
        section.commentWrite-section
            if loggedIn
                form(data-Id=music._id).commentWrite_form
                    input.commentWrite_textarea
                    br
                    button Submit
    div.comment_section
        ul
            each comment in music.comments.reverse()
                li.comment_text(data-id=comment.id)
                    a(href=`/users/${comment.owner}`).comment_owner #{comment.ownerName}
                    span.comment_text #{comment.text}
                    hr
                    if loggedInUser._id==comment.owner
                        i.fas.fa-times.delComment
                    
            
block scripts
    script(src="/static/js/musicPlayer.js")
    script(src="/static/js/commentSection.js")

    //- div
    //-     p=music.artist
    //-     small=music.createdAt
    //- small Upload by 
    //-     a(href=`/users/${music.owner._id}`) #{music.owner.name}
    //-     br
    //- if loggedInUser._id==music.owner._id
    //-     a(href=`${music.id}/edit`) Edit Music
    //-     br
    //-     a(href=`${music.id}/remove`) Delete Music
    //-     br