extends ../base.pug
include ../mixins/playlist.pug

block content
    audio(src="/"+music.fileUrl)#audio_page
    div.main-player(data-Id=music._id)
        div.main
            img(src=`data:image/jpeg;base64,${base64}`)#bgImg



            div.top
                div.title_artist_box
                    p#name #{musicData.title}
                    p#artist #{musicData.artist}
                div.lyrics_head
            div.middle
                div.playbtn-section
                    img(src=`data:image/jpeg;base64,${base64}`).playpage_track_imag
                    button#play
                        i.fa.fa-play
                p.lyrics_main !{musicData.unsynchronisedLyrics ? musicData.unsynchronisedLyrics.text : "Not found lyrics"}
            
            div.bottom
                div#volume
                    p#volume_show 50
                    i(onclick="mute_sound()")#volume_icon.fa.fa-volume-up
                    input(type="range", min="0", max="100", value="50")#volume_bar

            //- div.duration
            //-     input(type="range", min="0", max="100", value="0")#duration_silder
    if loggedInUser._id==music.owner._id
        a(href=`${music.id}/remove`) Delete Music
block scripts
    script(src="/static/js/musicPlayer.js")



    //- div
    //-     p=music.artist
    //-     small=music.createdAt
    //- small Upload by 
    //-     a(href=`/users/${music.owner._id}`) #{music.owner.name}
    //-     br
    //- if loggedInUser._id==music.owner._id
    //-     a(href=`${music.id}/edit`) Edit Music
    //-     br
    //-     a(href=`${music.id}/remove`) Delete Music
    //-     br