mixin playList2(music)
    //- a(href=`/musics/${music._id}`).playlist_music_main
    article.playlist_music_main.playlist_playbtn
        audio(src="/"+music.fileUrl).playlist_audio
        img(src=music.img).playlist_track_image
        span.title_artist-wrap
            | #{music.title}
            br
            | #{music.artist}
            //- div.playlist_music_title=music.title
            //- div.playlist_music_artist=music.artist
    if !loggedInUser._id !== user._id
        i(data-Id=music._id).far.fa-trash-alt.delPlaylist
    //- i.far.fa-play-circle.playlist_playbtn